
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Default to denying all access
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow users to manage their own user data
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Allow users to manage their own notification tokens
      match /tokens/{tokenId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Rules for properties
    match /properties/{propertyId} {
      // Allow user to create a property if they are the owner
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      // Allow user to read, update, or delete their own property
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Rules for tenants
    match /tenants/{tenantId} {
      // Allow user to create a tenant if they own the associated property
      allow create: if request.auth != null && get(/databases/$(database)/documents/properties/$(request.resource.data.propertyId)).data.userId == request.auth.uid;
      // Allow user to read, update, or delete a tenant if they own the associated property
      allow read, update, delete: if request.auth != null && get(/databases/$(database)/documents/properties/$(resource.data.propertyId)).data.userId == request.auth.uid;
    }

    // Rules for payments
    match /payments/{paymentId} {
        // Allow creating a payment if the user owns the tenant's property
        allow create: if request.auth != null && get(/databases/$(database)/documents/tenants/$(request.resource.data.tenantId)).data.userId == request.auth.uid;
        // Allow read, update, delete if the user owns the tenant's property
        allow read, update, delete: if request.auth != null && get(/databases/$(database)/documents/tenants/$(resource.data.tenantId)).data.userId == request.auth.uid;
    }

    // Rules for units
    match /units/{unitId} {
        // Allow creating a unit if the user owns the property
        allow create: if request.auth != null && get(/databases/$(database)/documents/properties/$(request.resource.data.propertyId)).data.userId == request.auth.uid;
        // Allow read, update, delete if the user owns the property
        allow read, update, delete: if request.auth != null && get(/databases/$(database)/documents/properties/$(resource.data.propertyId)).data.userId == request.auth.uid;
    }
  }
}
